*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{

  --bg-color: #09090B;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  --text-color-secondary: #A1A1AA;
  --text-color-primary: #F4F4F5;

  --brand-color-primary: #F7B733;
  --brand-color-secondary: #FC4A1A;

  --font-family: "Inter", "system-ui", sans-serif;
}